@import url('ripple.css');

* {
    margin: auto;
}

.navbar-toggler,
.navbar-toggler:focus {
    outline: 0;
    position: relative;
    overflow: hidden
}

html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: #0000;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    margin: 0;
    padding: 0;
    letter-spacing: .4px;
    line-height: 1.5;
}

body{
    overflow-x: hidden;
    
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(blue, dodgerblue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-transform: capitalize;
}

.btn {
    text-transform: uppercase;
}

.pointer {
    cursor: pointer;
}

.navbar {
    font-size: 23px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.navbar-brand {
    font-size: 30px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.navbar.bg-dark {
    font-size: larger;
    box-shadow: -3px 1.5px 4px 3px #0007;
    background: #212529 !important
}

.navbar.bg-dark .navbar-brand {
    font-size: 25px;
}

/*=========================    HEADER    =========================*/
header#home {
    background: url('../img/header-bg.jpg');
    background-origin: border-box;
    background-clip: border-box;
}

/*=========================    GLOBAL    =========================*/

img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

/*=========================    #ABOUT    =========================*/
section,
#home {
    min-height: 100vh !important
}

.container,
.container-fluid {
    display: flex;
    align-items: center !important;
    justify-content: center;
}

.avatar {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    line-height: 1.8
}

/*=========================    #PORTFOLIO    =========================*/
#portfolio {
    background: linear-gradient(#fff, #eee, #ddd, #eee, #fff);
    padding-bottom: 25px
}

/*=========================    #TEAM    =========================*/
.avatar-img {
    width: 225px;
    height: 225px;
    background: #ddd;
    padding: 7px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.avatar-img>img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social-icons-list {
    list-style: none;
    display: flex;
}

.avatar-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden
}

/* .avatar-icon:last-child {
    margin-right: 5rem !important
} */

/* .avatar-icon:first-child {
    margin-left: 1.5rem !important
} */
/*=========================    #ABOUT    =========================*/
#about .adjust-mt{
    margin-top: 4.7rem
}
/*=========================    #POTFOLIO    =========================*/
#portfolio .adjust-mt-2{
    margin-top: 4rem !important
}
/*=========================    #TEAM    =========================*/
#team .adjust-mt-3{
    margin-top: 5rem
}
/*=========================    #CONTACT    =========================*/
#contact {
    background: #212529 !important;
}